@use "sass:math";
@import '../../styles/settings.scss';

.columnForm {
    padding: 10px;
    text-align: center;

}

.textInput {
    display: flex;
    margin: 15px;
    justify-content: center;
}

.txt {
    margin: 10px;
    padding-top: 5px;
}

